
// IPIS red: #ed2326

// Some variables - override from /home/betullam/dev/vufind-ipis/themes/bootstrap3/less/vendor/bootstrap/variables.less
@brand-primary: #ed2326;
@link-color: #ed2326;

// Remove dotted border around links
a, a:hover, a:active, a:focus {
    outline: none;
}

header .container.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .banner.container.navbar .search {
    width: 100%;
}

.navbar-brand {
    height: auto;
    padding-left: 0;
}

.nav.searchbox, #searchForm, .ipis-searchform-lookfor-input-group, #searchForm_lookfor {
    width: 100%;
}

.ipis-logo {
    background-image: url('../images/ipis-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 71px;
}

.ipis-logo-searchform-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ipis-searchform-wrapper {
    width: 100%
}

#searchForm {
    display: flex;
    flex-direction: column;
}

#searchForm_lookfor {
    max-width: 100%;
    height: auto;
    font-size: x-large;

    // Bottom border
	box-shadow: none;
    border-top: none;
	border-left: none;
	border-right: none;
    border-radius: 0;
	border-bottom: gray;
	border-bottom-style: solid;
}

.ipis-searchform-lookfor-input-group-btn {
    border-bottom: gray;
	border-bottom-style: solid;
}

.navbar-form .input-group .input-group-btn {
    width: 0;
}

.ipis-searchform-lookfor-input-group-btn .btn {
    border: none;
    color: #a0a0a0;
    font-size: x-large;
}

.ipis-searchform-lookfor-input-group-btn .btn:hover, .ipis-searchform-lookfor-input-group-btn .btn:active, .ipis-searchform-lookfor-input-group-btn .btn:focus {
    border: none;
    color: gray;
    background-color: white;
}

// Remove because we don't need a mobile "3-bars" menu to pop up
#header-collapse {
    display: none !important;
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 0;
    }
}

@media (max-width: 650px) {
    // Small logo on smaller screens
    .ipis-logo {
        background-image: url('../images/ipis-logo-small.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 72px;
        height: 71px;
    }
}

@media (max-width: 370px) {
    // No logo on very small screens
    .ipis-logo {
        display: none;
    }
}